<div class="nav-menu">
    <ul>
        <NavMenuItem Href="/login" Text="Login" />
        <NavMenuItem Href="/forms" Text="Forms" />
        <NavMenuItem Href="/logs" Text="Logs" />
        <NavMenuItem Href="/account" Text="Account" />
    </ul>
</div>
