@using AstroForm.Domain.Entities
@using AstroForm.Domain.Repositories

<div class="form-list">
    <ul>
        @if (_forms is null)
        {
            <li>Loading...</li>
        }
        else
        {
            @foreach (var form in _forms)
            {
                <FormListItem Form="form" OnChanged="Load" />
            }
        }
    </ul>
</div>

@code {
    [Inject] public IFormRepository Repository { get; set; } = default!;

    private IReadOnlyList<Form>? _forms;

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        _forms = await Repository.GetAllAsync();
        StateHasChanged();
    }
}
