<button class="save-button" @onclick="OnClick">Save</button>

@code {
    [Inject] public FormEditorService Service { get; set; } = default!;

    private async Task OnClick()
    {
        await Service.SaveAsync();
    }
}
