<nav class="sidenav">
    <ul>
        <li><NavLink href="/forms">Forms</NavLink></li>
        <li><NavLink href="/logs">Logs</NavLink></li>
        <li><NavLink href="/account">Account</NavLink></li>
    </ul>
</nav>
